.top-nav ul ul,
.top-nav ul ul ul{
	background:#111;
	list-style:none;
	position:absolute;
	left:-9999px;
	z-index:5000;
}
.top-nav ul ul li{
	border-top:1px solid #393939;
	float:none;
}
.top-nav ul ul li.first{
	border:none;	
}
.top-nav ul li:hover ul{
	width:190px;
	left:0;
}
.top-nav ul li:hover ul ul{
	left:-9999px;
}
.top-nav ul li:hover ul a{
	text-decoration:none;
}
.top-nav ul li:hover ul a:hover,
.top-nav ul ul li.parent:hover{
	background:#222 url('../images/structure/nav-arrow.png') center right no-repeat;
}
.top-nav ul ul li:hover ul{
	background:#222;
	width:190px;
	left:190px;
	top:0;
}
.top-nav ul ul li:hover ul a:hover{
	display:block;
	zoom:1;
	background:#323232 url('../images/structure/nav-arrow-second-level.png') center right no-repeat;	
}