<?xml version="1.0"?>
<config>
    <modules>
        <Rjs_StyleIcons>
            <version>0.1.0</version>
        </Rjs_StyleIcons>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Rjs_StyleIcons before="Mage_Adminhtml">Rjs_StyleIcons_Adminhtml</Rjs_StyleIcons>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <styleicons>
                    <file>styleicons.xml</file>
                </styleicons>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <styleicons>
                <use>standard</use>
                <args>
                    <module>Rjs_StyleIcons</module>
                    <frontName>mini-style-icons</frontName>
                </args>
            </styleicons>
        </routers>
        <layout>
            <updates>
                <styleicons>
                    <file>styleicons.xml</file>
                </styleicons>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <styleicons>
                <class>Rjs_StyleIcons_Block</class>
            </styleicons>
        </blocks>
        <helpers>
            <styleicons>
                <class>Rjs_StyleIcons_Helper</class>
            </styleicons>
        </helpers>
        <models>
            <styleicons>
                <class>Rjs_StyleIcons_Model</class>
                <resourceModel>styleicons_resource</resourceModel>
            </styleicons>
            <styleicons_resource>
                <class>Rjs_StyleIcons_Model_Resource</class>
                <entities>
                    <competition>
                        <table>styleicons_competition</table>
                    </competition>
                    <entry>
                        <table>styleicons_competition_entry</table>
                    </entry>
                    <vote>
                        <table>styleicons_competition_entry_vote</table>
                    </vote>
                    <winner>
                        <table>styleicons_competition_winner</table>
                    </winner>
                </entities>
            </styleicons_resource>
        </models>
        <resources>
            <styleicons_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </styleicons_read>
            <styleicons_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </styleicons_write>
            <styleicons_setup>
                <setup>
                    <module>Rjs_StyleIcons</module>
                    <class>Rjs_StyleIcons_Model_Resource_Setup</class>
                </setup>
            </styleicons_setup>
        </resources>
    </global>

</config> 