<?xml version="1.0"?>
<config>
    <modules>
        <Rippleffect_Shipping>
            <version>0.0.1</version>
        </Rippleffect_Shipping>
    </modules>
    <global>
        <blocks>
            <rippleffect_shipping>
                <class>Rippleffect_Shipping_Block</class>
            </rippleffect_shipping>
        </blocks>
        <helpers>
            <rippleffect_shipping>
                <class>Rippleffect_Shipping_Helper</class>
            </rippleffect_shipping>
        </helpers>
        <models>
            <rippleffect_shipping>
                <class>Rippleffect_Shipping_Model</class>
                <resourceModel>rippleffect_shipping_mysql4</resourceModel>
            </rippleffect_shipping>
            <rippleffect_shipping_mysql4>
                <class>Rippleffect_Shipping_Model_Mysql4</class>
                <entities>
                    <method>
                        <table>rippleffect_shipping_methods</table>
                    </method>
                </entities>
            </rippleffect_shipping_mysql4>
        </models>
        <resources>
            <rippleffect_shipping_setup>
                <setup>
                    <module>Rippleffect_Shipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rippleffect_shipping_setup>
            <rippleffect_shipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rippleffect_shipping_write>
            <rippleffect_shipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rippleffect_shipping_read>
        </resources>
    </global>
    <admin>
        <routers>
            <rippleffect_shipping>
                <use>admin</use>
                <args>
                    <module>Rippleffect_Shipping</module>
                    <frontName>rippleffect_shipping</frontName>
                </args>
            </rippleffect_shipping>
        </routers>
    </admin>
    <default>
        <carriers>
            <rippleffect_shipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>rippleffect_shipping/carrier_method</model>
                <name>Shipping</name>
                <title>Shipping</title>
                <handling_type>F</handling_type>
            </rippleffect_shipping>
        </carriers>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <rippleffect_shipping translate="title" module="rippleffect_shipping">
                                    <title>Rippleffect Shipping Methods</title>
                                    <sort_order>50</sort_order>
                                </rippleffect_shipping>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
