<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <rippleffect_shipping translate="label" module="rippleffect_shipping">
                    <label>Rippleffect Shipping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>13</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                    </fields>
                </rippleffect_shipping>
            </groups>
        </carriers>
    </sections>
</config>
