<?xml version="1.0" ?>
<config>
    <modules>
        <Space48_Brands>
            <version>0.3.0</version>
        </Space48_Brands>
    </modules>

    <!-- frontend config -->
    <frontend>
        <routers>
            <brands>
                <use>standard</use>
                <args>
                    <module>Space48_Brands</module>
                    <frontName>brands</frontName>
                </args>
            </brands>
        </routers>

        <layout>
            <updates>
                <brands>
                    <file>Space48_Brands.xml</file>
                </brands>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <brands>
                <use>admin</use>
                <args>
                    <module>Space48_Brands</module>
                    <frontName>brand_admin</frontName>
                </args>
            </brands>
        </routers>
    </admin>

    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <brands>
                        <title>Manage Brand Pages</title>
                        <sort_order>0</sort_order>
                        <action>brand_admin/adminhtml_brand</action>
                    </brands>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <items>
                            <title>Custom Brand Pages</title>
                            <sort_order>10</sort_order>
                        </items>
                    </children>
                </admin>
            </resources>
        </acl>

        <layout>
            <updates>
                <brands>
                    <file>Space48_Brands.xml</file>
                </brands>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <blocks>
            <brands>
                <class>Space48_Brands_Block</class>
            </brands>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Space48_Brands_Block_Product_List_Toolbar</product_list_toolbar>
                    <product_list>Space48_Brands_Model_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>

        <helpers>
            <brands>
                <class>Space48_Brands_Helper</class>
            </brands>
        </helpers>

        <models>
            <!-- Brands Brands MySQL related configuration -->
            <brands>
                <class>Space48_Brands_Model</class>
                <resourceModel>brands_mysql4</resourceModel>
            </brands>

            <brands_mysql4>
                <class>Space48_Brands_Model_Mysql4</class>
                <entities>
                    <brands>
                        <table>space48_attribute_landing_page</table>
                    </brands>
                </entities>
            </brands_mysql4>

            <!-- Brands products MySQL related configuration -->
            <products>
                <class>Space48_Brands_Model</class>
                <resourceModel>products_mysql4</resourceModel>
            </products>

            <products_mysql4>
                <class>Space48_Brands_Model_Mysql4</class>
                <entities>
                    <products>
                        <table>space48_attribute_landing_page_products</table>
                    </products>
                </entities>
            </products_mysql4>

            <catalog>
                <rewrite>
                    <layer_filter_item>Space48_Brands_Model_Layer_Filter_Item</layer_filter_item>
                    <config>Space48_Brands_Model_Catalog_Config</config>
                </rewrite>
                <rewrite>
                    <product_list_toolbat>Space48_Brands_Block_Product_List</product_list_toolbat>
                </rewrite>
            </catalog>

        </models>

        <resources>
            <brands_setup>
                <setup>
                    <module>Space48_Brands</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brands_setup>
            <brands_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brands_write>
            <brands_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brands_read>
        </resources>

        <events>
            <controller_front_init_routers>
                <observers>
                    <brands>
                        <class>Space48_Brands_Controller_Router</class>
                        <method>initControllerRoutes</method>
                    </brands>
                </observers>
            </controller_front_init_routers>

            <catalog_product_save_after>
                <observers>
                    <brands>
                        <class>Space48_Brands_Model_Observer</class>
                        <method>updateAttributeTable</method>
                    </brands>
                </observers>
            </catalog_product_save_after>
        </events>

    </global>
</config>