<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <jjm_styleguide>
                <version>0.1.0</version>
            </jjm_styleguide>
        </modules>
        <blocks>
            <styleguide>
                <rewrite>
                    <styleguide>JJM_StyleGuide_Block_StyleGuide</styleguide>
                </rewrite>
            </styleguide>
        </blocks>
        <helpers>
            <jjm_styleguide>
                <class>JJM_StyleGuide_Helper</class>
            </jjm_styleguide>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <JJM_StyleGuide before="Mage_Adminhtml">JJM_StyleGuide_Adminhtml</JJM_StyleGuide>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <styleguide>
                <use>standard</use>
                <args>
                    <module>JJM_StyleGuide</module>
                    <frontName>styleguide</frontName>
                </args>
            </styleguide>
        </routers>
        <layout>
            <updates>
                <styleguide>
                    <file>styleguide.xml</file>
                </styleguide>
            </updates>
        </layout>
    </frontend>
</config>