<?xml version="1.0"?>
<config>
  <modules>
    <JJM_Styleguide>
      <version>0.1.0</version>
    </JJM_Styleguide>
  </modules>
  <frontend>
    <routers>
      <styleguide>
        <use>standard</use>
          <args>
            <module>JJM_Styleguide</module>
            <frontName>styleguide</frontName>
          </args>
      </styleguide>
    </routers>
		<layout>
		  <updates>
			<styleguide>
			  <file>styleguide.xml</file>
			</styleguide>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <styleguide>
        <class>JJM_Styleguide_Helper</class>
      </styleguide>
    </helpers>
	<blocks>
	  <styleguide>
		<class>JJM_Styleguide_Block</class>
	  </styleguide>
	</blocks>
	<models>
        <styleguide>
            <class>JJM_Styleguide_Model</class>
            <resourceModel>styleguide_mysql4</resourceModel>
        </styleguide>
        <styleguide_mysql4>
            <class>JJM_Styleguide_Model_Mysql4</class>
        <entities>
              <styleguide>
                <table>styleguides</table>
              </styleguide>
        </entities>
        </styleguide_mysql4>
        <catalog>
            <rewrite>
                <product>JJM_Styleguide_Model_Catalog_Product</product>
                <product_link>JJM_Styleguide_Model_Catalog_Product_Link</product_link>
            </rewrite>
        </catalog>
	</models>
	<resources>
	  <styleguide_setup>
		<setup>
		  <module>JJM_Styleguide</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </styleguide_setup>
	  <styleguide_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </styleguide_write>
	  <styleguide_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </styleguide_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <styleguide>
	    <use>admin</use>
		<args>
		  <module>JJM_Styleguide</module>
		  <frontName>styleguide</frontName>
		</args>
	  </styleguide>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <styleguide module="styleguide">
		<title>Styleguide</title>
		<sort_order>100</sort_order>
		<children>
		  <styleguide module="styleguide">
		    <title>Manage Styleguide</title>
			<sort_order>0</sort_order>
			<action>styleguide/adminhtml_styleguide</action>
		  </styleguide>
		</children>
	  </styleguide>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<styleguide translate="title" module="styleguide">
			  <title>Styleguide</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <styleguide translate="title">
			<title>Manage Styleguide</title>
			<sort_order>0</sort_order>
		  </styleguide>
			  </children>
			</styleguide>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<styleguide>
		  <file>styleguide.xml</file>
		</styleguide>
	  </updates>
	</layout>
    <events>
      <catalog_product_prepare_save>
          <observers>
              <styleguide_catalog_product_prepare_save>
                  <class>jjm_styleguide/observer</class>
                  <method>catalogProductPrepareSave</method>
              </styleguide_catalog_product_prepare_save>
          </observers>
      </catalog_product_prepare_save>
      <catalog_model_product_duplicate>
          <observers>
              <styleguide_catalog_product_prepare_save>
                  <class>jjm_styleguide/observer</class>
                  <method>catalogModelProductDuplicate</method>
              </styleguide_catalog_product_prepare_save>
          </observers>
      </catalog_model_product_duplicate>
    </events>
  </adminhtml>
</config> 