<?xml version="1.0"?>
<config>
  <modules>
    <Ansyori_Autotrans>
      <version>0.1.0</version>
    </Ansyori_Autotrans>
  </modules>
  <frontend>
    <routers>
      <autotrans>
        <use>standard</use>
          <args>
            <module>Ansyori_Autotrans</module>
            <frontName>autotrans</frontName>
          </args>
      </autotrans>
    </routers>
		<layout>
		  <updates>
			<autotrans>
			  <file>autotrans.xml</file>
			</autotrans>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <autotrans>
        <class>Ansyori_Autotrans_Helper</class>
      </autotrans>
    </helpers>
	<blocks>
	  <autotrans>
		<class>Ansyori_Autotrans_Block</class>
	  </autotrans>
	</blocks>
  </global>
</config> 