<?xml version="1.0"?>
<config>
    <modules>
        <JJM_Sitepopup>
            <version>1.0.0</version>
        </JJM_Sitepopup>
    </modules>
    <global>
        <blocks>
            <JJM_Sitepopup>
                <class>JJM_Sitepopup_Block</class>
            </JJM_Sitepopup>
        </blocks>
        <helpers>
            <JJM_Sitepopup>
                <class>JJM_Sitepopup_Helper</class>
            </JJM_Sitepopup>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <Sitepopup>
                    <file>sitepopup.xml</file>
                </Sitepopup>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <JJM_Sitepopup>
                                            <title>JJM_Sitepopup</title>
                                        </JJM_Sitepopup>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>