<?xml version="1.0"?>
<config>
    <modules>
        <Rippleffect_All>
            <version>0.0.2</version>
        </Rippleffect_All>
    </modules>
    <global>
        <blocks>
            <rippleffect>
                <class>Rippleffect_All_Block</class>
            </rippleffect>
            <catalog>
                <rewrite>
                    <navigation>Rippleffect_All_Block_Catalog_Navigation</navigation>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_header>Rippleffect_All_Block_Page_Html_Header</html_header>
                    <html_footer>Rippleffect_All_Block_Page_Html_Footer</html_footer>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <rippleffect>
                <class>Rippleffect_All_Helper</class>
            </rippleffect>
            <tax>
                <rewrite>
                    <data>Rippleffect_All_Helper_Tax_Data</data>
                </rewrite>
            </tax>
            <core>
                <rewrite>
                    <http>Rippleffect_All_Helper_Http</http>
                </rewrite>
            </core>
        </helpers>
        <models>
            <rippleffect>
                <class>Rippleffect_All_Model</class>
            </rippleffect>
            <catalogrule>
                <rewrite>
                    <rule>Rippleffect_All_Model_CatalogRule_Rule</rule>
                </rewrite>
            </catalogrule>
        </models>
        <resources>
            <rippleffect_setup>
                <setup>
                    <module>Rippleffect_All</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rippleffect_setup>
        </resources>
        <events>
            <catalog_controller_product_init>
                <observers>
                    <set_current_category>
                        <class>rippleffect/observer</class>
                        <method>setCurrentCategory</method>
                    </set_current_category>
                </observers>
            </catalog_controller_product_init>
            <catalog_product_save_after>
                <observers>
                    <clear_featured_products_cache>
                        <class>rippleffect/observer</class>
                        <method>clearFeaturedProductsCache</method>
                    </clear_featured_products_cache>
                </observers>
            </catalog_product_save_after>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <admin_themeoverride_observer>
                        <type>singleton</type>
                        <class>Rippleffect_All_Model_Observer</class>
                        <method>overrideAdminTheme</method>
                    </admin_themeoverride_observer>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <frontend>
        <routers>
            <rippleffect_all>
                <use>standard</use>
                <args>
                    <module>Rippleffect_All</module>
                    <frontName>rippleffect_all</frontName>
                </args>
            </rippleffect_all>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <rippleffect>
                                            <title>Rippleffect</title>
                                        </rippleffect>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <refresh_catalog_cache_indexes>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>rippleffect/cron::dailyIndexCacheRefresh</model>
                </run>
            </refresh_catalog_cache_indexes>
        </jobs>
    </crontab>
</config>
